.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(220, 219, 219, 0.364);
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    height: 32px;
    filter: invert(1);
}

.header .title-group {
    padding-left: 25px;
}

.header .title-group i {
    padding-right: 5px;
}