form {
    display: flex;
    flex-direction: column;
}

button {
    padding: 25px;
    margin-left: 15px;
}

.container-form {
    background-color: transparent;
    box-shadow: none;
}

.form-title {
    font-size: 2rem;
    margin: 15px;
    color: #FFF;
}