html,
body {
    height: 100%;
    background-color: #424242 !important;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-sidenav-content {
    background-color: #424242 !important;
}

.red {
    color: red;
}
